# https://EditorConfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[Makefile*]
# Makefile syntax requires actual tabs
indent_style = tab

[{go.mod,go.sum}]
indent_style = tab
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4
ij_go_import_sorting = goimports
ij_go_run_go_fmt_on_reformat = true

[Dockerfile]
indent_size = 4

[*.md]
# trailing whitespace can be significant in Markdown
trim_trailing_whitespace = false
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 88
